.container {
    width: 1000px;
    margin: auto;
}


tbody tr, th {
    text-align: center;
    width: 950px; 
    margin: 10px;
}

tr {
    font-size: 18px;
    background-color: rgb(206, 196, 196);    
    padding: 20px;
}

tr:hover {
    background-color: rgb(124, 122, 122);
    color: white;
    cursor: pointer;
    /* transform: scale(1.1); */
}

th {
    background-color: rgb(66, 66, 95);
    color: white;
    margin: 5px;
    padding: 10px;
}
